/accounting/ @tujinwei
/android/ @surajsahani @mr-shoxruxbek
/angular/ @vanekbr @aamita96
/autocad/ @djayor
/autodesk-fusion-360/ @djayor
/aws/ @jokerkeny
/bash/ @D4RIO
# won't work, needs renaming the dir to "c-sharp": /c#/ @LiviuSosu @RamonMartinezNieto
/c-(programming-language)/ @makifay @Amsal1 
/front-end-development/ @vanekbr @ShankS3
/go/ @ruslanbes
/it-operations/ @asahiocean
/java/ @sumanas27 @ruslanbes
/javascript/ @taletski
/json/ @iHamzaKhanzada
/linux/ @D4RIO @Amsal1
/machine-learning/ @aaronwangj
/microsoft-access/ @drmegalomaniac
/microsoft-azure/ @tomtreffke
/microsoft-excel/ @gazihasanrahman
/mysql/ @ruslanbes
/node.js/ @pbachman
/php/ @ruslanbes
/python/ @tik9 @Amsal1
/react/ @RobTables
/ruby-on-rails/ @gudata
/t-sql/ @beefydog
/unity/ @uno-sebastian
/vba/ @AdamKaczor6250
/wordpress/ @ruslanbes @Amsal1
/xml/ @ruslanbes
